/* Importing dependencies in CSS to bundle all CSS code into one file */
@import "normalize.css";
@import "ugrid.css";

* { font-family: "Poppins", sans-serif;}

body {
  background-color: #f1f1f1;
  background-size: cover;
}

/* Primary Navigation */
.primary-nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #aeaeae;
  box-shadow: 1px 1px 3px #aeaeae;
}

.primary-nav .logo {
  margin-top: 8px;
  height: 40px;
}

.primary-nav ul {
  display: inline;
  list-style-type: none;
}

.primary-nav ul li {
  float: right;
  cursor: pointer;
  display: inline;
  margin-top: 10px;
  margin-right: 20px;
  padding: 8px 15px;
  color: #182C61;
}

.primary-nav ul li:hover {
  color: #1B9CFC;
}

#dashboard-btn {
  border: 2px solid transparent;
  border-radius: 5px;
  transition: .5s ease all;
}

#dashboard-btn:hover {
  border: 2px solid #182C61;
}

#how-it-works {
  padding-top: 60px;
}

#how-it-works .logo {
  margin-top: 100px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
