.footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
  border-top: 1px solid #aeaeae;

  .logo {
    height: 30px;
  }

  @media only screen and (max-width: $breakpoint)
  {
    display: block;
  }
}